.side-menu {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: grey;
  //overflow-y: scroll;
}

.manage {
  position: relative;
  top: 2rem;
  left: 250px;
  right: 0;
}

.flex-container {
  margin: 25px 25px;
}